<footer>
  <p>
    Copyright <%= current_year %>,
    project: <%= github_url(user: 'DmitryKachalov', repo: 'Test-Guru') %>
    by: <%= github_url(user: 'DmitryKachalov') %>
  </p>
  <p>
    Приложение для создания, управления и выполнения различных тестов.
    Тесты с вопросами и вариантами ответов.
  </p>
  <p>
    <%= link_to  "Учебный проект в онлайн-школе Thinknetica",
                 "https://thinknetica.com/", target: '_blank'%>
  </p>
</footer>